<% if session[:access_token] %>
  <%= link_to "Logout #{session[:user_name]}", '/logout' %>
<% else %>
  <%= link_to 'login with instagram', '/oauth/connect' %>
<% end %>


<h1>Welcome Citizen Journalist</h1>

Pick your preferred city
<% @locations.each do |location| %>
    <h3><%= link_to location.name, location %></h3>
<% end %>

<p> Content </p>
<% @contents = Content.all %>
<% @contents.each do |content| %>
<ul>
  <li>
  <% content_url = content.content_url %>
  <% content_image = content.image_url %>
  <a href=<%= content_url %>><img src=<%= content_image %>></a>
  </li>
</ul></center>
  <% end %>
