<center><h1><%= @location.name %></h1>

<section class="content-display">
  <h3> Your <%= @location.name %> User Generated News</h3>
  <% contents = Content.where(location_id: @location.id) %>

    <div class="hexagons">
<% contents.each do |content| %>

  <% content_url = content.content_url %>
  <% content_image = content.image_url %>
  <a href=<%= content_url %> style="background-image:url('<%= content_image %>')"</a>

<% end %>
</div>

<section class= "tweets"> Breaking Tweets

  <ul>
  </section>
    <% Tweet.breaking(@location).each do |tweet|%>
      <li><%=  tweet.text %></li>
    <% end %>
  </ul>
</section>
