<center><h1><%= @location.name %></h1>
 <div class="hexagons">
   <!-- #Displays content (seeded content) for selected location by location_id  -->
   <% @location.contents.each do |content| %>
    <% content_url = content.content_url %>
      <% content_image = content.image_url %>
        <a href=<%= content_url %> style="background-image:url('<%= content_image %>')"></a>
<% end %>
</div>

<section class= "tweets">
  <ul>
    <!-- # Twitter logo- below display breaking news tweets by location as keyword - calls on Tweet Model  -->
    <img src = https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS_7OGIwozJddCsdgSnpTWt-HWdKbCviu-CF4m3iM5okFMo-_tUUQ >
      <% Tweet.breaking(@location).each do |tweet|%>
        <div> ***<%=  tweet.text %> **</div >
  <% end %>
  </ul>
</section>

<section class= "instagram">
  <!-- # Instagram Photos by location - displays images using location search as tags for image - calls on Insta Model -->
  <ul>
    <div><img src= http://dehayf5mhw1h7.cloudfront.net/wp-content/uploads/sites/35/2014/09/23162643/instagram.png></div>
      <% Insta.location_tag(@location).each do |instagram| %>
        <% insta_img = instagram.images["thumbnail"]["url"] %>
         <img src = "<%= instagram.images["thumbnail"]["url"] %>">

  <% end %>
</ul>
</section>
