<center><h1><%= @location.name %></h1>

<section class="content-display">
  <h3> Your <%= @location.name %> User Generated News</h3>
  <ul>
    <% @location.contents.each do |content| %>
    <% content_url = content.content_url %>
    <div class="hexagon pic">
    <span class="top"></span>
    <span class="bottom"></span>
</div>
    <% content_image = content.image_url %>
      <a href=<%= content_url %>><img src=<%= content_image %>></a>
    <% end %></ul></center>
  </ul>
</section>
<section class= "tweets"> Breaking Tweets

  <ul>
    <% Tweet.breaking(@location).each do |tweet|%>
      <li><%=  tweet.text %></li>
    <% end %>
  </ul>
</section>
