<center><h1><%= @location.name %></h1>

<section class="content-display">
  <h3> Your <%= @location.name %> User Generated News</h3>
  <ul>
    <% @location.contents.each do |content| %>
    <% content_url = content.content_url %>
    

    <div class="hexagons">
<% @contents = Content.all %>
<% @contents.each do |content| %>

  <% content_url = content.content_url %>
  <% content_image = content.image_url %>
  <a href=<%= content_url %> style="background-image:url('<%= content_image %>')"</a>

<% end %>
</div>

    <span class="top"></span>
    <span class="bottom"></span>

    <% content_image = content.image_url %>
      <a href=<%= content_url %>><img src=<%= content_image %>></a>
    <% end %></ul></center>
  </ul>
</section>
<section class= "tweets"> Breaking Tweets

  <ul>
    <% Tweet.breaking(@location).each do |tweet|%>
      <li><%=  tweet.text %></li>
    <% end %>
  </ul>
</section>
